.box {
  width: 500px;
  height: 700px;
}

header {
  background-color: white;
  color: rgb(12, 13, 12);
  opacity: 0.9;
  /* 內距 */
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

header:hover {
  background-color: black;
  transition: 0.5s;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}
header .sticky ul li a {
  color: #000;
}
.area {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.area1 {
  background-image: url(./assets/image/chanel1.jpg);
  background-attachment: fixed;
}

.area2 {
  background-image: url(./assets/image/chanel2.jpg);
  background-attachment: fixed;
}

.area3 {
  background-image: url(./assets/image/chanel3.jpg);
  background-attachment: fixed;
}

.area4 {
  background-image: url(./assets/image/chanel4.jpg);
  background-attachment: fixed;
}

.area5 {
  background-image: url(./assets/image/chanel5.jpg);
  background-attachment: fixed;
}

.myList .list-group-item {
  position: relative;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-bottom: 5px;
  opacity: 0.5;
}

.myList .active {
  background-color: #1b9dc4;
  opacity: 0.7;
}

.myList .list-group-item:hover::after {
  position: absolute;
  top: -2px;
  left: -60px;
  background-color: rgb(141, 218, 241);
  content: attr(option-text);
  width: 50px;
  text-align: center;
  border-radius: 10px;
}

.title {
  text-align: center;
}

/* 文字下移 */

.hero-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trans1 {
  text-transform: uppercase;
  padding-top: 5px;
}

.section1 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 按鈕 */
.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(12, 13, 12);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(12, 13, 12);
}
.btn:not(.nav-btns button):hover {
  background-color: #46a3ff;
  color: #fff;
  border-color: #46a3ff;
}
