.image-slider {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slider-image {
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-image.active {
    transform: translateY(-50%);
  }