body {
}
.table-hover > tbody > tr.no-hover:hover {
    background-color: transparent;
}

.borderless td, .borderless th {
    border: none;
}



.txt-detail{
    font-size:20px;
    font-weight:700;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media print {
    .donotprint {
        visibility: hidden;
    }
}

[aria-expanded="false"] .menu__icon--open {
    display: inline;
}

[aria-expanded="false"] .menu__icon--close {
    display: none;
}

[aria-expanded="true"] .menu__icon--open {
    display: none;
}

[aria-expanded="true"] .menu__icon--close {
    display: inline;
}
